<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053903642254-qvnm9f5osqvdfeft30l8sb5iuf60b477.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053903642254-qvnm9f5osqvdfeft30l8sb5iuf60b477</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1053903642254-16abs9src4l5jeen471dhtpvf96878qc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB8R2IXqag-vffDjzbEelefDWBAbXYP4LI</string>
	<key>GCM_SENDER_ID</key>
	<string>1053903642254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.balcony.shortform.com</string>
	<key>PROJECT_ID</key>
	<string>balcony-base</string>
	<key>STORAGE_BUCKET</key>
	<string>balcony-base.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053903642254:ios:c60698d5b42e488cc2f3df</string>
</dict>
</plist>